<?xml version="1.0" encoding="utf-8" ?>
<Events>
  
  <!--Basic Device Status-->
  <Event name="Status" description="Basic Device Status">
    <Responses>
      
      <!--Device is actively functioning-->
      <Response value="Active" description="Device is actively functioning">
        <Triggers>
          <Multitrigger>
            <Triggers>
              <Trigger type ="ControllerMode" value="Auto"/>
              <Trigger type ="ControllerMode" value="Manual_Data_Input"/>
            </Triggers>
          </Multitrigger>
          <Trigger type ="Execution" value="Active"/>
          <Trigger type ="System" value="Fault" modifier="NOT"/>
          <Trigger type ="EmergencyStop" value="Armed"/>
          <Trigger type ="Availability" value="Available"/>
        </Triggers>
      </Response>

      <!--Device is able to function but is idle-->
      <Response value="Idle" description="Device is able to function but is idle">
        <Triggers>
          <Trigger type ="System" value="Fault" modifier="NOT"/>
          <Trigger type ="EmergencyStop" value="Armed"/>
          <Trigger type ="Availability" value="Available"/>
        </Triggers>
      </Response>

      <!--Device is not able to function and needs attention-->
      <Response value="Alert" description="Device is not able to function and needs attention">
        <Triggers>
          <Trigger type ="Availability" value="Available"/>
        </Triggers>
      </Response>

      <!--Device is not connected-->
      <Response value="Disconnected" description="Device is not connected">
        <Triggers>
          <Trigger type ="Availability" value="Unavailable"/>
        </Triggers>
      </Response>

    </Responses>
  </Event>

</Events>